<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/album.css}">
    <title>Title</title>
</head>
<body>
    <div class="main-container">
        <div class="post-container">
            <h1 class="header-title">Välkommen till samlingsalbumet!</h1>
            <div class="items-container">
                <div class="song-container" th:each="album:${albumList}">
                    <h2 th:text="${album.getSongName()}"></h2>
                    <img th:src="${album.getImageSource()}" alt="Batman image"/>
                    <p th:text="${album.getArtistName()}"></p>
                    <p th:text="${album.getRelease()}"></p>
                    <p th:text="${album.getSongLength()}"></p>
                    <button th:data-id="${album.getId()}" th:onclick="handleDelete(this.getAttribute('data-id'))">Delete</button>
                </div>
            </div>
        </div>
        <a th:href="@{/album/addalbum}" class="new-post-button"><button>Add new album!</button></a>
    </div>
<script type="text/javascript" th:src= "@{/album.js}"></script>

</body>
</html>