<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/album.css}">
</head>
<body>

<div class ="container">
    <h1>Add new album!</h1>

    <form method="post" th:action="@{/album}" class="title">
        <input type="text" name="songName" placeholder="Songname..">
        <br><br>
        <input type="text" name="artistName" placeholder="Artistname..">
        <br><br>
        <input type="number" name="songLength" placeholder="Songlength..">
        <br><br>
        <input type="text" name="release" placeholder="Release..">
        <br><br>
        <input type="text" name="imageSource" placeholder="Image source..">
        <br><br>
        <input type="submit" value="Save">
    </form>

</div>

</body>
</html>