<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/album.css}">
</head>
<body>

<div class ="container">
    <h1>Add new album!</h1>

    <form method="post" th:action="@{/album}" class="title">
        <input type="text" name="songName" placeholder="Song name">
        <input type="text" name="artistName" placeholder="Artist name">
        <input type="int" name="songLength" placeholder="Song length">
        <input type="Date" name="release" placeholder="Release date">
        <input type="Image" name="imageSource" placeholder="Image Source">

        <br><br>

        <input type="submit" value="Save">
    </form>

</div>

</body>
</html>